<div class="main_body" id="main_body">
    <div class="breadcrub">
        当前位置：文章管理>文章列表
    </div>
    <div class="pannel">
        <span class="sel_label">请选择文章分类：</span>
        <form method="get" action="/article/list" id="form">
            <select name="select" id="select" class="sel_opt">
                <option value="">Any</option>
                {{range .types}}
                <option value="{{.TypeName}}" {{if compare .TypeName $.typename}}selected{{end}}>{{.TypeName}}</option>
                {{end}}
            </select>
        </form>
        <table class="common_table">
            <tr>
                <th width="43%">文章标题</th>
                <th width="10%">文章内容</th>
                <th width="16%">添加时间</th>
                <th width="7%">阅读量</th>
                <th width="7%">删除</th>
                <th width="7%">编辑</th>
                <th width="10%">文章类型</th>
            </tr>
            {{range .data}}
            <tr>
                <td>{{.Title}}</td>
                <td><a href="/article/detail?id={{.Id}}">查看详情</a></td>
                <td>{{showtime .Addtime "Asia/Saigon"}}</td>
                <td>{{.VisitNum}}</td>
                <td><a href="/article/delete?id={{.Id}}" class="dels">删除</a></td>
                <td><a href="/article/update?id={{.Id}}">编辑</a></td>
                <td>{{.ArticleType.TypeName}}</td>
            </tr>
            {{end}}
        </table>

        <ul class="pagenation">
            <li><a href="/article/list?p=1&select={{.typename}}">首页</a></li>
            <li><a href="/article/list?p={{.page | prepage}}&select={{.typename}}">上一页</a></li>
            <li><a href="/article/list?p={{nextpage .page .pageCount}}&select={{.typename}}">下一页</a></li>
            <li><a href="/article/list?p={{.pageCount}}&select={{.typename}}">末页</a></li>
            <li>共{{.totalRows}}条记录/共{{.pageCount}}页/当前{{.page}}页</li>
        </ul>
    </div>
</div>